<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="viewport" content="width=device-width,initial-scale = 1.0,maximum-scale = 1.0,user-scalable=no"/>
  <%= stylesheet_link_tag 'tabler_rails/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Tabler Application</title>

</head>
<body id="tabler">
<div class="container"><%= yield %></div>
</body>
</html>